.contain {
    position: absolute;
    top: 25%;

    .text {
        opacity: 0;
        animation: fadeIn 1s forwards;
        animation-delay: 2.2s;
        letter-spacing: 3px;
        color: #6d33ff;
        position: absolute;
        top: 0%;
        left: 20%;
    }

    .showcase-container {
        margin-top: 100px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 250px;
            height: 250px;
            background: #4d4d4e;
            margin: 0 30px;
            border-radius: 40px;
            text-align: center;
            font-size: 20px;
            padding-top: 10px;

            svg {
                width: 100px;
                height: 170px;
            }

            &.one {
                opacity: 0;
                animation: fadeIn 1s forwards;
                animation-delay: 1s;
                color: #f5f5f5;
            }

            &.two {
                opacity: 0;
                animation: fadeIn 1s forwards;
                animation-delay: 1.3s;
                background: #6d33ff;
                color: #181818;
            }

            &.three {
                opacity: 0;
                animation: fadeIn 1s forwards;
                animation-delay: 1.6s;
                color: #f5f5f5;
            }

            &.four {
                opacity: 0;
                animation: fadeIn 1s forwards;
                animation-delay: 1.9s;
                background-color: #6d33ff;
                color: #181818;
            }

            &:hover {
                width: 260px;
                height: 260px;
                transition: all .2s ease-in;
            }
        }

    }
}

@media screen and (max-width: 600px) {
    .container {
        margin: 0 90px;

        .text {
            display: none;
        }
    }

    .contain {
        top: 5%;
    }

    .showcase-container {
        flex-direction: column;

        .item {
            &.one {
                margin-top: 20px;
            }

            &.two {
                margin-top: 20px;
            }

            &.three {
                margin-top: 20px;
            }

            &.four {
                margin-top: 20px;
            }
        }
    }
}